@import "../../style/defalut";
.loginHeader {
  width: 100%;
  height: 3.375rem;
  background-color: $theme;
  text-align: center;
  color: #fff;
}

.headerTitle {
  padding-top: 0.8rem;
  font-size: 0.78rem;
}
.headerDes {
  font-size: 0.5rem;
  line-height: 0.8rem;
}